:root {
    --mainDGrey: #2d2d2d;
    --mainYellow: #ff9e09;
    --mainGrey: #ece8dc;
    --mainWhite: #fff;
    --mainDark: #000;
    --mainGreen: #255e3b;
    --mainBlue: #264e61;
  }
  body {
    background: var(--mainWhite);
    color: var(--mainDark);
    font-family: Raleway !important;
    font-size: 18px !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Montserrat !important;
  }

  h1, h2 {
    font-weight: 500 !important;
  }

  .text-dgrey {
    color: var(--mainDGrey) !important;
  }
  /* h3 {
    font-size: 0.9rem !important;
  } */
  .text-yellow {
    color: var(--mainYellow) !important;
  }

  .text-green {
    color: var(--mainGreen) !important;
    font-weight: 500 !important;
  }

  .text-white {
    color: var(--mainWhite) !important;
  }

  .title {
    font-weight: 500 !important;
  }

  .cart-icon {
    cursor: pointer;
    color: var(--mainGreen);
    font-size: 1.9rem;
  }

  .default-background {
    min-height: 91vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    opacity: 1 !important;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  .btn-green {
    color: var(--mainGreen) !important;
    border-color: var(--mainGreen) !important;
  }
  .btn-green:hover {
    background: var(--mainGreen) !important;
    color: var(--mainWhite) !important;
  }

  .about-background {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    opacity: 1 !important;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  .menu {
    background: var(--mainGrey);
  }
  .contact {
    background: var(--mainGrey);
  }
  .footer {
    background: var(--mainBlue);
  }